<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2004, 2010 BREDEX GmbH.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->

<plugin>
	<extension id="org.eclipse.jubula.app.launcher" name="%ApplicationLauncher"
		point="org.eclipse.core.runtime.applications">
		<application>
			<run class="org.eclipse.jubula.app.Launcher" />
		</application>
	</extension>
  <extension
        id="product"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.eclipse.jubula.app.launcher"
           name="%productName">
        <property
              name="windowImages"
              value="icons/jubula16x16.gif,icons/jubula32x32.gif,icons/jubula48x48.gif,icons/jubula64x64.gif,icons/jubula128x128.gif">
        </property>
        <property
              name="aboutText"
              value="%aboutText">
        </property>
        <property
              name="aboutImage"
              value="icons/about.png">
        </property>
        <property
              name="startupForegroundColor"
              value="888888">
        </property>
        <property
              name="startupProgressRect"
              value="0,445,800,15">
        </property>
        <property
              name="startupMessageRect"
              value="5,425,800,15">
        </property>
        <property
              name="appName"
              value="%productName">
        </property>
		<property name="startupProgressRect" value="0,445,800,15" />
		<property name="preferenceCustomization" value="plugin_customization.ini" />
		<property name="introTitle" value="%IntroTitle" />
		<property name="introBrandingImage" value="product:icons/intro.png" />
		<property name="introBrandingImageText" value="Jubula by BREDEX GmbH" />
		<!-- selection of default css theme for correct toolbar items after target change to Juno -->
		<property name="cssTheme" value="org.eclipse.e4.ui.css.theme.e4_default"></property>
		<property name="applicationCSSResources" value="platform:/plugin/org.eclipse.platform/images/"></property>
     </product>
  </extension>
	<extension point="org.eclipse.ui.intro">
		<introProductBinding introId="org.eclipse.ui.intro.universal"
			productId="org.eclipse.jubula.app.product">
		</introProductBinding>
	</extension>
</plugin>
